<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Event</h3>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ticket_price %><br>
    <%= f.number_field :ticket_price %>
  </div>
  <div class="field">
    <%= f.label :ticket_quantity %><br>
    <%= f.number_field :ticket_quantity %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <%= f.fields_for :event_time do |event_time_form| %>
    <div class="field">
      <%= event_time_form.label :start %>
      <%= event_time_form.datetime_select :start, :ampm => true, :minute_step => 15 %>
    </div>
    <div class="field">
      <%= event_time_form.label :end %>
      <%= event_time_form.datetime_select :end, :ampm => true, :minute_step => 15 %>
    </div>
  <% end %>
  <h3>Venue</h3>
  <%= f.fields_for :venue do |venue_form| %>
    <div class="field">
      <%= venue_form.label :name %><br>
      <%= venue_form.text_field :name %>
    </div>
    <div class="field">
      <%= venue_form.label :street %><br>
      <%= venue_form.text_field :street %>
    </div>
    <div class="field">
      <%= venue_form.label :city %><br>
      <%= venue_form.text_field :city %>
    </div>
    <div class="field">
      <%= venue_form.label :state %><br>
      <%= venue_form.text_field :state %>
    </div>
    <div class="field">
      <%= venue_form.label :zip_code %><br>
      <%= venue_form.text_field :zip_code %>
    </div>
    <div class="field">
      <%= venue_form.label :phone_number %><br>
      <%= venue_form.text_field :phone_number %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>